<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fishing blog</title>
</head>
<body>

<div style="margin-left: 20%">
    <p style="font-size: 30px">Fishing blog</p>
</div>

{% for post in items%} {# items это posts из views #}
    {% if post.published != True %}
<div style="margin: 25px; margin-top:5px; display: inline-block">
{#<div style="margin: 25px">#}
    <div style="border: 2px solid">
{#        <div>{{post.title}}</div>#}
        <a href="{% url 'post_detail' post_pk=post.id %}">{{post.title}}</a>
{#        <div>{{ post.text }}</div>#}
        <div>{{ post.created_date }}</div>
        <div>{{ post.published_date }}</div>
    </div>
</div>
    {% endif %}
{% endfor %}
<div style="margin-bottom: 15px">
    <a style="border: 2px solid; border-radius: 10px; padding: 5px"
       href="{% url 'post_list' %}">
        Вернуться
    </a>
</div>
</body>
</html>